APP_NAME=Fretado API
APP_ENV=development

SECRET_KEY=sua_chave_aqui
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=15
PASSWORD_RESET_URL=https://fretado.pages.dev/#/reset-password

DATABASE_URL=postgresql://usuario:senha@localhost:5432/fretado_db

CORS_ALLOW_ORIGINS=https://fretado.pages.dev
CORS_ALLOW_ORIGIN_REGEX=

EMAIL_PROVIDER=resend
EMAIL_FROM=onboarding@resend.dev
RESEND_API_KEY=sua_api_key_do_resend